<div class="row">
  <div class="col col-12">
    <p style="font-size: 28px; font-weight: 600;" class="mb-4">
      Books
      <button 
        class="btn book-index--create__btn"
        (click)="dialog = true"
      >
        <i class="fas fa-plus mr-2" style="font-size: 0.75rem;"></i>
        create
      </button>
    </p>
    <div style="background-color: #586f7c;; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;" class="py-2 px-4">
      <table class="table table-borderless book-index__table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Price</th>
            <th class="text-center">Quantity</th>
            <th style="text-align: end;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books; index as i">
            <td>{{ i + 1 }}</td>
            <td class="text-truncate">{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.price }}</td>
            <td class="text-center">{{ book.quantity }}</td>
            <td style="text-align: end;">
              <i style="cursor: pointer; color: #ffb049;" class="fas fa-pencil-alt" (click)="selectItem(book._id)"></i>
              <i style="cursor: pointer; color: #ff3859;" class="fas fa-trash ml-3" (click)="deleteItem(book._id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-book-create
  *ngIf="dialog"
  (canceled)="dialog=false"
  (clicked)="created()"
></app-book-create>